@import "tailwindcss/preflight";

/* Add custom base styles here... */

@import "tailwindcss/components";

/* Add custom components here... */

@import "tailwindcss/utilities";

/* Add custom utilities here... */

::selection {
  background-color: #ff1493;
}

a:hover {
    background-color: #ffd700;
}


/* Post Body */
#post-body {
    font-family: Merriweather,Constantia,Lucida Bright,Lucidabright,Lucida Serif,Lucida,DejaVu Serif,Bitstream Vera Serif,Liberation Serif,Georgia,serif;
    font-size: 1.1rem;
    line-height: 1.9;
    padding: 0;
    overflow-y: visible;
    align-items: center;
}

#post-body p,
#post-body ul,
#post-body ol,
#post-body h1,
#post-body h2,
#post-body h3,
#post-body blockquote,
#post-body pre {
    min-width: 100%;
}

#post-body p,
#post-body ol,
#post-body ul,
#post-body pre,
#post-body blockquote {
    margin-bottom: 33px !important;
}

/* Paragraph */
#post-body > p {}

#post-body > p > strong {}
#post-body > p > em {}
#post-body > p > u {}
#post-body > p > s {}
#post-body > p > code {}

#post-body > h2 {
    margin-top: 0 !important;
    margin-bottom: 33px !important;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2.6rem;

    margin-top: 56px;
    margin-bottom: 15px;
}
#post-body > h3 {
    margin-bottom: 33px !important;
    font-size: 17px !important;
    font-weight: bold;
    line-height: 2.6rem;
}

#post-body > ol {
    padding-left: 0;
}
#post-body > ol > li {
    margin-bottom: 20px;
}
#post-body > ul {
    padding-left: 0;
}
#post-body > ul > li {
    margin-bottom: 20px;
}
#post-body > p > a {}

#post-body > blockquote {}
#post-body > pre {
    background: rgba(238, 238, 238, 0.35);
    border: solid 2px rgba(0, 0, 0, 0.05);
    color: #000;
    overflow-x: auto;
    padding: 0.5em;
    background-color: #f0f0f0;
    border-radius: 3px
}

/* Embedded Image */
#post-body > .embedded_image {
    margin-bottom: 33px !important;
    cursor: default;
}
#post-body > .embedded_image[data-layout="wide"] > img {
    max-width: 1024px;
}
#post-body > .embedded_image > img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}
#post-body > .embedded_image > p {
    color: #606f7b;
    font-size: .875rem;
    margin-bottom: 0 !important;
    text-align: center;
}

/* Inline HTML */
#post-body > .inline_html {}

/* Section Break */
#post-body > hr:before {
    content: '...';
}
#post-body > hr {
    border: none;
    color: #22292f;
    letter-spacing: 1em;
    text-align: center;
    margin-bottom: 5rem;
}
