
#post {
    font-size: 1.1rem;
    line-height: 1.9;
    padding: 0;
    overflow-y: visible;
    align-items: center;
}

#post h1,
#post h2,
#post h3 {
    font-family: 'Source Sans Pro', sans-serif;
}

#post p,
#post ul,
#post ol,
#post h1,
#post h2,
#post h3,
#post blockquote,
#post pre {
    min-width: 100%;
}

#post p,
#post ol,
#post ul,
#post pre,
#post blockquote {
    margin-bottom: 33px !important;
}

/* Paragraph */
#post > p {}

#post > p > strong {}
#post > p > em {}
#post > p > u {}
#post > p > s {}
#post > p > code {}

#post > h2 {
    margin-top: 50px !important;
    margin-bottom: 33px !important;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2.6rem;
}
#post > h3 {
    margin-bottom: 33px !important;
    font-size: 1.25rem;
    font-weight: bold;
}

#post > ol {
    padding-left: 0;
}
#post > ol > li {
    margin-bottom: 20px;
}
#post > ul {
    padding-left: 0;
}
#post > ul > li {
    margin-bottom: 20px;
}
#post > p > a {}

#post > blockquote {}
#post > pre {
    background: rgba(238, 238, 238, 0.35);
    border: solid 2px rgba(0, 0, 0, 0.05);
    color: #000;
    overflow-x: auto;
    padding: 0.5em;
    background-color: #f0f0f0;
    border-radius: 3px
}

/* Embedded Image */
#post > .embedded_image {
    margin-bottom: 33px !important;
    cursor: default;
}
#post > .embedded_image[data-layout="wide"] > img {
    max-width: 1024px;
}
#post > .embedded_image > img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    border: 1px solid #dae1e7;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
}
#post > .embedded_image > p {
    color: #fa7ea8;
    margin-bottom: 0 !important;
    text-align: center;
}

/* Inline HTML */
#post > .inline_html {}

/* Section Break */
#post > hr:before {
    content: '...';
}
#post > hr {
    border: none;
    color: #22292f;
    letter-spacing: 1em;
    text-align: center;
    margin-bottom: 5rem;
}
